.cards-list{
  position: relative;
  height: 100%;
  background: inherit;
}

.card{
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 40rem;
  height: calc(100% - 2rem);
  background: $c-bg-card;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.05);

  &:last-child{
    left: 7rem;
  }
  &:first-child{
    left: 1rem;
  }
}

.card--wide{
  @extend .card;
  min-width: 40rem;
  max-width: 96rem;

  &:last-child{
    width: calc(100% - 8rem);
  }
  &:first-child{
    width: calc(100% - 2rem);
  }
}

.card__inner{
  display: flex;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  border: 4px solid $c-primary;
  margin: auto;
  font-size: 4.8rem;
  color: $c-primary;
}

.card__number{
  display: block;
  margin: auto;
}

.hidden{
  display: none;
}